* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product-title {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  padding: 15px;
}

.product-details-text {
  text-transform: uppercase;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}
.item-container {
  border: 5px solid #000;
  width: 900px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.item-container::before {
  content: "SALE";
  background-color: #f00;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 10px;
  width: 80px;
  text-align: center;
  position: absolute;
  top: -30px;
  left: -50px;
}

.item-price {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

.shipping-text {
  font-size: 14px;
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
}

/* .bio {
  clear: both;
} */

a:link,
a:visited {
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

.color {
  width: 25px;
  height: 25px;
  margin-top: 30px;
  margin-right: 10px;
}

.colors div:last-child {
  margin-right: 0px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

ul {
  margin-left: 20px;
}

li {
  list-style: square;
  margin-bottom: 5px;
}

.add-to-cart {
  font-size: 22px;
  color: #c9c9c9;
  background-color: #000;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.add-to-cart:hover {
  color: #000;
  background-color: #fff;
  border: 5px solid #000;
}

p {
  margin-bottom: 14px;
}

.item-price {
  margin: 0;
  padding: 0;
}

.shipping-text {
  margin: 0;
}

.price-freeshipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colors {
  display: flex;
  align-items: center;
  gap: 10 px;
}
/* 
.product-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.img-column {
  flex: 1;
}

.price-to-moreinfo {
  flex: 1;
}

.product-details-box {
  flex: 1;
} */

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  align-items: center;
}

.product-title {
  grid-column: 1 / -1;
}

img {
  width: 100%;
}

.price-to-moreinfo {
}

.product-details-box {
}

.add-to-cart {
  grid-column: 1 / -1;
}
